{% extends 'admin-base.html.twig' %}

{% block title %}MX Park | Admin | Liste Entrainements{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
    <div class="col-10 offset-1">
      <h1>Liste des Entrainements</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Name</th>
            <th>Type</th>
            <th>StartMemberSubs</th>
            <th>StartAllSubs</th>
            <th>EndSubs</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
            <tr>
              <td>{{ event.id }}</td>
              <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
              <td>{{ event.name }}</td>
              <td>{{ event.type ? 'Yes' : 'No' }}</td>
              <td>{{ event.startMemberSubs }}</td>
              <td>{{ event.startAllSubs }}</td>
              <td>{{ event.endSubs }}</td>
              <td>
                <a href="{{ path('admin_event_show', {'id': event.id}) }}">show</a>
                <a href="{{ path('admin_event_edit', {'id': event.id}) }}">edit</a>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="8">no records found</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <a href="{{ path('admin_event_new') }}">Create new</a>
      </div>
    </div>
  </div>
{% endblock %}
