{% extends 'base.html.twig' %}

{% block title %}Créer mon compte | MX Trail{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/forms.css">
{% endblock %}


{%block body %}
    <div class="container">
        <h1>Créer mon compte</h1>
        {% form_theme regForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(regForm)}}

        {{ form_row(regForm.firstName) }}
        {{ form_row(regForm.lastName) }}
        {{ form_row(regForm.email) }}
        {{ form_row(regForm.birthDate) }}
        {{ form_row(regForm.phone) }}
        {{ form_row(regForm.licenceNumber) }}
        {{ form_row(regForm.password) }}
        
        <button type="submit" class="btn btn-primary">Créer mon compte</button>

        {{ form_end(regForm)}}

    </div>
{% endblock %}

