{% extends 'base.html.twig' %}

{% block title %}Créer mon compte | MX Trail{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/forms.css">
{% endblock %}


{%block body %}
    <div class="container">
        <div class="row">
            <div class="offset-3 col-6">

                <h1>Créer mon compte</h1>

                {{ form_start(form)}}

                    {{ form_errors(form) }}
    
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.birthDate) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.licenceNumber) }}
                    {{ form_row(form.password) }}

                    <button type="submit" class="btn btn-primary">Créer mon compte</button>
        
                {{ form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}

